﻿@*@using Kiout.Teu.Web.Extensions;


    @{
        var brandService = System.Web.Mvc.DependencyResolver.Current.GetService<Kiout.Teu.Admin.Cabinet.Service.IBrandService>();
        var brandCabinet = brandService.GetCabinetBrending();
        string sidebar = "";
        if (Request.Cookies["status"] != null)
        {
            sidebar = Request.Cookies["status"].Value;
        }
    }*@
@using System.Web;
@using RiskProf.Helpers;

<script>

	//function getCookie(name) {
	//	let matches = document.cookie.match(new RegExp(
	//		"(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
	//	));
	//	return matches ? decodeURIComponent(matches[1]) : "";
	//}
	//function setCookie(name, value, options = {}) {

	//	if (options.expires instanceof Date) {
	//		options.expires = options.expires.toUTCString();
	//	}

	//	let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

	//	for (let optionKey in options) {
	//		updatedCookie += "; " + optionKey;
	//		let optionValue = options[optionKey];
	//		if (optionValue !== true) {
	//			updatedCookie += "=" + optionValue;
	//		}
	//	}

	//	document.cookie = updatedCookie;
	//}
	//function deleteCookie(name) {
	//	setCookie(name, "", {
	//		'max-age': -1
	//	})
	//}
	//function setCookiePreferFullVersion() {
	//	var value = true;
	//	setCookie('_prefer_full_version', value, { 'path': '' });
	//	location.reload();
	//}
	function stringToBoolean(string){
		switch(string){
			case "True": case "TRUE": case "true": case "yes": case "1": return true;
			case "False": case "FALSE": case "false": case "no": case "0": case null: return false;
			default: return Boolean(string);
		}
		return false;
	}

	@*var cookie = getCookie('_prefer_full_version');
	var way = window.location.href;
	var arr = way.split('#');
	if (arr.length > 1) {
		way = arr[1].split('&');
		for (var i = 0; i < way.length; i++) {
			var arg = way[i].split('=');
			switch (arg[0]) {
				case 'PreferFullVersion':
					setCookie('_prefer_full_version', arg[1], { 'path': '' });
					cookie = getCookie('_prefer_full_version');
					window.location.href = '@(Request.Url.GetLeftPart(UriPartial.Path))';
					break;
			}
		}
	}*@

	@*var url = "https://riskprof.ru";
	var PreferFullVersion = "#PreferFullVersion=true";
	var isPreferFullVersion = stringToBoolean(cookie);
	var isMobileDevice = stringToBoolean(@((Request.Browser.IsMobileDevice) ? '1' : '0'));

	if (cookie != "") {
		if (isPreferFullVersion)
			window.location.href = url + PreferFullVersion;
	}
	else if (!isMobileDevice)
		window.location.href = url;*@

</script>

<!DOCTYPE html>
<html>
<head>
    <title>РискПроф</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#fff">

    <script type="text/javascript" src="~/Content/JQuery/jquery.min.js"></script>
    <script src="~/Content/JQuery/jquery.validate.min.js"></script>
    <script src="~/Content/JQuery/localization/messages_ru.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/JQuery/clipboard.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/Content/spinner.js"></script>
    <script type="text/javascript" src="~/Content/modalDialogV2.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap-dialog.min.js"></script>

    <link href="~/Content/Table/Site.css" rel="stylesheet" />
    <link href="~/Content/Table/css/magnific-popup.css?v=2020.1" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/Table/css/styles.css" rel="stylesheet" />

    <link href="~/Content/Bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/fancybox2/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Content/fancybox2/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox2/jquery.fancybox.pack.js"></script>
    <link href="~/Content/Table/bootstrap_teu.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/Bootstrap/css/animate.min.css" />
    <link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap-dialog.min.css" />


    <link href="~/Content/Table/img/icons/risk-prof.ico" rel="icon" runat="server" type="image/ico" />
    <link href="~/Content/Table/img/icons/risk-prof.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <script src="~/Content/JQuery/jquery_cookie.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/jquery.inputmask.js"></script>



    <script type="text/javascript">
        Sm = {};
        Sm.EventRouter = function () {
            this.events = {};
        }
        Sm.EventRouter.prototype.subscribe = function (eventName, callback, context) {
            if (!this.events[eventName]) {
                this.events[eventName] = [];
            }
            this.events[eventName].push({ func: callback, ctx: context });
        };

        Sm.EventRouter.prototype.publish = function (eventName, parameters) {
            if (!this.events[eventName]) {
                console.log('Event published with no lsiteners: ' + eventName);
                return;
            }
            this.events[eventName].forEach(function (el) {
                el.func.apply(el.ctx, [parameters || {}]);
            });
        };
        Sm.EventRouter.prototype.unsubscribe = function (eventName, callback) {
            if (!this.events[eventName]) {
                return;
            }
            this.events[eventName] = this.events[eventName].filter(function (el) {
                return el !== callback;
            });
        };
        window.EventRouter = new Sm.EventRouter();

        var notifySettingsSuccess = {
            delay: 3000,
            z_index: 9999,
            type: 'success',
            animate: {
                enter: 'animated fadeInUpBig',  //'animated lightSpeedIn',//enter: 'animated fadeInRight',
                exit: 'animated fadeOutRight'  //'animated lightSpeedOut'//exit: 'animated fadeOutRight'
            },
            newest_on_top: true,
            placement: {
                from: "bottom",
                align: "right"
            },
            offset: 30
        };
        var notifySettingsWarning = {
            delay: 3000,
            z_index: 9999,
            type: 'warning',
            animate: {
                enter: 'animated fadeInUpBig',
                exit: 'animated fadeOutRight'
            },
            newest_on_top: true,
            placement: {
                from: "bottom",
                align: "right"
            },
            offset: 30
        };
        var notifySettingsDanger = {
            delay: 3000,
            z_index: 9999,
            type: 'danger',
            animate: {
                enter: 'animated fadeInUpBig',
                exit: 'animated fadeOutRight'
            },
            newest_on_top: true,
            placement: {
                from: "bottom",
                align: "right"
            },
            offset: 30
        };

    </script>

    <style>
        #nav_panel {
            /*display: block;*/
            background-color: #C02032;
            z-index: 2;
            position: fixed;
            width: 100%;
        }

        .spinner {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: rgba( 255, 255, 255, .8 );
            display: none;
        }

        [data-notify="progressbar"] {
            margin-bottom: 0px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 50%;
            height: 5px;
        }

        .bootstrap-dialog-close-button {
            display: block !important;
        }

        #head_content {
            transition: all 0.3s;
            position: absolute;
            right: 0;
            margin: 0;
        }

        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 0 !important;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #e0e0e0;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: #999;
        }

        ::-webkit-scrollbar-corner {
            background-color: #999;
        }

        ::-webkit-resizer {
            background-color: #666;
        }


        .modal-modified {
            display: none;
            transition: right .2s linear;
            z-index: 1045;
        }

            .modal-modified:before {
                content: '';
                background: #000;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.1;
                z-index: 1046;
            }

        .modal-dialog-modified {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            /*padding: 20px;*/
            width: 40%;
            min-width: 720px;
            margin-left: -200px;
            background: #f1f8ff;
            z-index: 1047;
            opacity: 1;
        }

        .modal-modified-close {
            cursor: pointer;
            position: absolute;
            left: -32px;
            width: 32px;
            top: 20px;
            height: 32px;
            border-radius: 15px 0 0 15px;
            background-color: #cce5ff;
            color: #004085;
        }

            .modal-modified-close:hover {
                color: #343a40
            }

        .fa-times {
            font-size: 19px;
            margin-left: 9px;
            margin-top: 7px;
        }

        .content-modified {
            overflow: auto;
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 20px;
            box-shadow: -5px 12px 28px rgba(0, 0, 0, 0.41), 0 10px 10px rgba(0,0,0,0.22);
        }

        .form-control-sm {
            font-size: .875rem !important;
        }
    </style>
    @RenderSection("head_styles", required: false)
    @RenderSection("head_scripts", required: false)
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(61732957, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true });</script> <noscript><div><img src="https://mc.yandex.ru/watch/61732957" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <div class="spinner text-center text-danger">
        <div style="margin-top: 40vh;">
            <div><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></div>
            <strong class="spinner_text">Загрузка...</strong>
        </div>
    </div>

    @*<div class="modal fade bd-example-modal-lg" id="modalDialogV2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:1055; height: 100vh;">
            <div class="modal-dialog modal-lg" style="height: calc(100vh - 45px);">
                <div class="modal-content" style="height: calc(100vh - 45px);">

                </div>
            </div>
        </div>*@

    @Html.Action("Header", "InfoAdmin")


    <div class="container-fluid justify-content-center">

        <nav id="sidebar" class="active" style="margin-top: 63px;">
            @Html.Action("NavMenu", "InfoAdmin")
        </nav>

        <div class="row page" id="head_content" style="margin-top: 68px; height: calc(100vh - 63px);">
            @if (this.IsSectionDefined("page_title"))
            {
                @*<div class="row rt-age-title-row">
                    <div class="col col-lg-12 rt-page-title">*@
                @*<h1>*@@RenderSection("page_title", required: false)@*</h1>*@
                @*</div>
                    </div>*@
            }
            @if (this.IsSectionDefined("page_path"))
            {
                @*<div class="row rt-page-path-row">
                    <div class="col col-lg-12 rt-page-path">
                        <div class="container">*@
                @RenderSection("page_path", required: false)
                @*</div>
                        </div>
                    </div>*@
            }
            else
            {
                @*@Html.RouteAction("Home_Crumbs", null)*@
            }


            @if (this.IsSectionDefined("banner_line"))
            {
                <div class="row rt-page-banner-line-row">
                    <div class="col col-lg-12">
                        <div class="container">
                            @RenderSection("banner_line", required: false)
                        </div>
                    </div>
                </div>
            }
            else
            {
                @*@Html.RouteAction("Home_BannerLine", null)*@
            }

            @if (this.IsSectionDefined("form_title"))
            {
                @*<div class="row rt-page-title-row" style="margin-bottom: 15px;">
                    <div class="col col-lg-12 rt-page-title">*@
                @RenderSection("form_title", required: false)
                @*</div>
                    </div>*@
            }
            else
            {
                @*@Html.RouteAction("Home_Title", null)*@
            }
            @RenderBody()
        </div>
    </div>
    <div class="footer" style="height: 5px; background-color: #C02032; position:fixed!important; z-index: 999;">
        @* @Html.RouteAction("Home_Footer", null)*@
    </div>
    @*<div class="footer" style="background-color: #C02032; position:fixed!important; z-index: 1000"> @Html.RouteAction("Home_Footer", null)</div>*@

    @RenderSection("footer_scripts", required: false)

    @*<script>
        function LiveSupportChat() {

            document.getElementById("b24-widget").remove();

            (function (w, d, u) {
                var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 60000 | 0);
                var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
            })(window, document, 'https://cdn-ru.bitrix24.ru/b5811463/crm/site_button/loader_2_n28oe6.js');

            setTimeout(() => { $('div.b24-widget-button-inner-container').click(); }, 1000);
        }
    </script>*@

    @*<div id="b24-widget" style="position: fixed; z-index: 99999; right: 50px; bottom: 50px;" onclick="LiveSupportChat();">
        <img src="~/Content/Images/LiveSupportChat.png" />
    </div>*@


    <script type="text/javascript">

        function DateToString(date, formate) {

            if (date == null || date == 'undefined' || date == '')
                return date;

            if (formate == null || formate == 'undefined' || formate == '')
                formate = 'dd.MM.yyyy HH:mm';

            var d = /\/Date\((\d*)\)\//.exec(date);
            var dd = (d) ? new Date(+d[1]) : date;

            return dd.toString(formate);
        }

        $(document).ready(function () {

            $('#modalDialogV2').on('shown.bs.modal', function () {
                $(window).resize();
            });

            var dialogHeight = document.documentElement.clientHeight - 45;
            var headerHeight = $('.modal-header').outerHeight();
            var footerHeight = $('.modal-footer').outerHeight();
            var scrollHeight = dialogHeight - headerHeight - footerHeight;
            $('#scroll').height(scrollHeight);


            $('.modal-dialog').height(dialogHeight + 'px');
            $('.modal-content').height(dialogHeight + 'px');


            var dialogHeight = document.documentElement.clientHeight - 45;
            $('.modal-dialog').height(dialogHeight + 'px');
            $('.modal-content').height(dialogHeight + 'px');
            $(window).resize(function () {
                var nav_panel = $('#nav_panel').height();
                var nav_info = $('#nav_info').height();
                var sidebar = $('#sidebar').width() - 15;
                $("#nav_info").css({ 'margin-top': 'calc(' + nav_panel + 'px)' });
                $("#sidebar").css({ 'margin-top': 'calc(' + nav_panel + 'px + ' + nav_info + 'px)' });
                $("#sidebar").css({ 'display': 'none' });
                $("#sidebar").css({ 'height': 'calc(100vh - 16px - 5px - ' + nav_panel + 'px - ' + nav_info + 'px)' });
                $("#head_content").css({ 'margin-top': 'calc(' + nav_panel + 'px + ' + nav_info + 'px)' });
                $("#head_content").css({ 'height': 'calc(100vh - 16px - 5px - ' + nav_panel + 'px - ' + nav_info + 'px)' });
                $("#head_content").css({ 'width': 'calc(100%)' });
                var dialogHeight = document.documentElement.clientHeight - 45;
                var headerHeight = $('.modal-header').outerHeight();
                var footerHeight = $('.modal-footer').outerHeight();
                var scrollHeight = dialogHeight - headerHeight - footerHeight;
                $('#scroll').height(scrollHeight);

                $('.modal-dialog').height(dialogHeight + 'px');
                $('.modal-content').height(dialogHeight + 'px');

            });
            $(window).resize();
        });
    </script>
</body>
</html>