﻿.modal-modified {
    display: none;
    transition: right .2s linear;
    z-index: 1045;
}

.modal-modified:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1046;
}

.modal-dialog-modified {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    min-width: 720px;
    margin-left: -200px;
    background: #f1f8ff;
    z-index: 1047;
    opacity: 1;
}

.modal-modified-close {
    cursor: pointer;
    position: absolute;
    left: -32px;
    width: 32px;
    top: 20px;
    height: 32px;
    border-radius: 15px 0 0 15px;
    background-color: #cce5ff;
    color: #004085;
}

.modal-modified-close:hover {
    color: #343a40
}

.fa-times {
    font-size: 19px;
    margin-left: 9px;
    margin-top: 7px;
}

.content-modified {
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-shadow: -5px 12px 28px rgba(0, 0, 0, 0.41), 0 10px 10px rgba(0,0,0,0.22);
}


.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}