﻿@*@model RiskProf.Mobile.WebApp.Web.Models.HeaderModel*@ 

@*@model Kiout.Teu.Public.Web.ViewModel.Home.HomeHeaderModel
    @using Kiout.Teu.Core.Auth.Domain
    @using Kiout.Teu.Risk.Auth
    @using System.Linq;

    @{
        string siteurl = @Url.Action("Index", "Home");
        if (Model.BrendParamenters.ContainsKey("StartController") && Model.BrendParamenters.ContainsKey("StartAction"))
            siteurl = @Url.Action(Model.BrendParamenters["StartAction"], Model.BrendParamenters["StartController"]);
        bool isAuthenticated = Model.AuthenticationService.IsAuthenticated();
        var user = Model.AuthenticationService.GetCurrentUser();
        var isCabinetUpdate = Model.AuthorizationService.HasUserPermission(AdminSecurityObjects.AdminCabinet, StandardPermissions.UpdateAdmin);
    }*@

@{ 
    Layout = null;
    //RiskProf.Auth.Client.Dto.UserAuth userAuth = Model.AuthorizationService.GetUserAuth();
}
<link href="~/Content/fancybox2/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox2/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/tableStyle.css" />

<style>
    .bootstrap-dialog-close-button .close, .modal-header .close span {
        background-color: white;
        padding: 0 10px;
        border-radius: 15%;
        margin: auto;
        color: black;
        text-shadow: none;
    }

        .bootstrap-dialog-close-button .close:hover, .modal-header .close span:hover {
            background-color: red;
            color: white;
        }

    .labelForm {
        margin-top: 10px;
    }

    .error {
        color: red;
    }

    .std::after {
        position: inherit !important;
        right: 0px !important;
        transform: translateY(0%) !important;
    }

    .menu {
        padding: 0 !important;
    }

    /*#sidebar.active {
        margin-left: -260px;
    }*/

    /*#content.active {
        width: 100vw;
    }*/

    /*#_navPanel.active {
        margin-left: -260px;
    }

    #_contentPanel.active {
        width: 100vw;
    }*/

    .dropdown-menu > a:focus, .dropdown-menu > a:hover {
        background-image: -ms-linear-gradient(top, #212529 0%, #161F3B 100%);
        background-image: -moz-linear-gradient(top, #212529 0%, #161F3B 100%);
        background-image: -o-linear-gradient(top, #212529 0%, #161F3B 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #212529), color-stop(1, #161F3B));
        background-image: -webkit-linear-gradient(top, #212529 0%, #161F3B 100%);
        background-image: linear-gradient(to bottom, #212529 0%, #161F3B 100%);
        color: #f8f9fa !important;
    }

    #img {
        -webkit-height: 30px;
        -moz-height: 30px;
        -ms-height: 30px;
        height: 30px;
    }

    .box {
        position: relative;
    }

    .notifications {
        position: absolute;
        left: -100px;
        /*margin-top: 30px;*/
        padding-top: 10px;
        width: 400px;
        height: 60px;
        background-color: #343a40;
        /*background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);*/
        /*background: #007bff;*/
        border-radius: 0px;
        box-sizing: border-box;
        text-align: left;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        transform: translate(-55%, 35px);
        /*transform: translateX(-55%);*/
        z-index: 3;
        display: none;
        font-family: "PTSans", "Arial", "Helvetica", sans-serif;
    }

        .notifications .fa {
            color: #fff;
        }

        .notifications .num {
            position: relative;
            top: 0px;
            right: -5px;
            background: transparent;
            color: #fff;
            font-family: sans-serif;
            text-align: center;
            font-size: 22px;
        }

            .notifications .num:before {
                content: 'Уведомления: ';
            }

    .notification-list {
        position: absolute;
        width: 100px;
        height: 300px;
        left: 0;
        top: 50px;
        margin: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        padding: 0px;
        box-sizing: border-box;
        font-family: "PTSans", "Arial", "Helvetica", sans-serif;
    }

        .notification-list .notification-tabs {
            margin-top: 5px;
            position: fixed;
            width: 100%;
            z-index: 4;
        }

        .notification-list .tab-content {
            margin-top: 45px;
            width: 100%;
            height: 240px;
            overflow-y: scroll;
            font-family: "PTSans", "Arial", "Helvetica", sans-serif;
        }

            .notification-list .tab-content .tab-pane {
                width: 100%;
                height: 240px;
            }

    .noticeIcon {
        position: absolute;
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        z-index: 3;
    }

        .noticeIcon .fa {
            color: #cecece;
            line-height: 35px;
            font-size: 20px;
        }

        .noticeIcon .num {
            position: absolute;
            top: 0px;
            right: -5px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #ff0000;
            color: #fff;
            font-family: sans-serif;
            text-align: center;
            font-size: 12px;
        }

    .panel-content {
        overflow-y: scroll;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 240px;
    }

        .panel-content li {
            list-style: none;
            border-bottom: 1px solid rgba(0,0,0,.1);
            width: 350px;
            height: 80px;
            padding: 5px;
            /*display: flex;*/
        }

    .unread {
        background: #FFFFE0;
    }

        .unread .notice-title {
            font-weight: bold;
        }

    .notice-title :hover {
        cursor: pointer;
    }


    .notice-icon-circle {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        background-color: #C02032;
    }

        .notice-icon-circle :hover {
            cursor: pointer;
        }

        .notice-icon-circle .fa {
            line-height: 50px;
            color: #fff;
            width: 50px;
            height: 50px;
            font-size: 18px;
        }

    .notice-text {
        margin-left: 10px;
        display: block;
        font-size: 14px;
    }

    .list-group-item list div {
        font-family: "PTSans", "Arial", "Helvetica", sans-serif;
    }

    .notice-content {
        align-items: center;
    }

    .notice-message {
        /*white-space: nowrap;*/
        width: 282px;
        overflow-wrap: break-word;
        display: inline-block;
        height: 40px;
        overflow: hidden;
        /*text-overflow: ellipsis;*/
    }

    .notice-text :hover {
        cursor: pointer;
    }

    label.error {
        margin-bottom: 0px !important;
    }

    .form-control.error {
        border: 1px solid red;
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
    }

        .form-control.error:focus {
            border-color: red;
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
        }

    .authHeader:hover {
        color: black !important;
    }

    #cabinetTitleSpan {
        max-width: 400px;
        /*width: calc(100vw - 1300px);*/
        white-space: nowrap;
        overflow: hidden;
        /*position: relative;*/
    }

        #cabinetTitleSpan::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100%;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #f1f8ff 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #f1f8ff 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 0), #f1f8ff 100%);
            background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #f1f8ff 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #f1f8ff 100%);
        }
</style>

@*@using (Html.BeginForm("ReportPdfBill", "Risk", FormMethod.Post, new { role = "form", name = "formIsGetBill", style = "display:none;" }))
{
    <fieldset>
        <input type="submit" name="formIsGetBill" style="width:100%" />
    </fieldset>
}*@

<nav id="nav_panel" class="navbar">
    <div class="row" style="width: 100vw;">
        <div class="col p-0 pl-3">
            <div class="btn-group" style="float: initial; width: 100%;    display: flex;justify-content: space-between;padding-right: 1rem;">
                <a id="trt" class="navbar-brand" href="~/" style="font-size: 1.75rem; color: white; margin-right: 27px;">
                    <img id="img" src="~/Content/Table/img/svg/risk-prof.svg" style="float:left;" />
                    <div class="ml-1" style="float:left; position:relative;">
                        <p style="margin:0; position:inherit; top: -7px;"> ТестПроф</p>
                    </div>
                </a>
                @*@if (user != null)
                    {*@
                <div class="pt-2">
                    <button class="btn btn-outline-light btn-sm" id="sidebarbt"><i class="fa fa-bars"></i></button>
                </div>
                @*}
                    @if (user?.CabinetId == Model.KbCabinetId)
                    {*@
                @*<span class="pt-2 pl-2 ">
                        <button class="btn btn-outline-light btn-sm mr-1" id="refillknowledgeBase" style="width: 155px; ">Обновить базу знаний</button>
                    </span>*@
                @*}*@
            </div>
        </div>
        @*<div class="col-lg-4 pl-0 pr-0 text-center" style="padding-top: 8px;">
                @if (user != null && isAuthenticated)
                {
                    <div>
                        @if (user.Cabinet.OrganizationName.Length < 30)
                        {
                            <span title="@user.Cabinet.OrganizationName" style="color: white;">@user.Cabinet.OrganizationName (#@user.CabinetId)</span>
                        }
                        else
                        {
                            var sliced = user.Cabinet.OrganizationName.Substring(0, 30);
                            if (user.Cabinet.OrganizationName.Length > sliced.Length)
                            {
                                <span title="@user.Cabinet.OrganizationName" style="color: white;">@user.Cabinet.OrganizationName.Substring(0, 30)... (#@user.CabinetId)</span>
                            }
                            else
                            {
                                <span title="@user.Cabinet.OrganizationName" style="color: white;">@user.Cabinet.OrganizationName.Substring(0, 30) (#@user.CabinetId)</span>
                            }

                        }
                    </div>
                }
            </div>

            <div class="col-lg-4 p-0 pr-3">
                <div class="btn-group" style="padding-top: 8px;">

                    <div class="box mr-5" style="" id="NotificationsBox">
                        <div style="text-align: center;" class="noticeIcon" id="NoticeIcon">
                            <i class="fa fa-bell"></i>
                            @if (Model.Notifys.Count > 0)
                            {
                                <span class="num">@Model.Notifys.Count</span>
                            }
                        </div>

                        <div class="notifications" id="Notifications" data-show="show">
                            <div style=" text-align: center;">
                                <i class="fa fa-bell"></i>
                                <span class="num">
                                    @if (Model.Notifys.Count > 0)
                                    {
                                        @Model.Notifys.Count
                                    }
                                </span>
                            </div>
                            <div class="notification-list" id="NotificationList">
                                <ul class="nav nav-tabs notification-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#panel1" aria-selected="true">Новости</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panel2" aria-selected="false">Отчеты</a></li>
                                </ul>

                                @{
                                    string[] monthNames = { "янв", "фев", "мар", "апр", "май", "июн", "инл", "авг", "сен", "окт", "ноя", "дек" };
                                    ViewData["monthNames"] = monthNames;
                                    if (user != null)
                                    {
                                        ViewData["CabinetId"] = user.CabinetId;
                                    }
                                }
                                <div class="tab-content scrollbar square scrollbar-notifications thin" style="padding: 5px;">
                                    <div id="panel1" class="tab-pane fade show active">
                                        <div id="notifyNews" class="list-group">
                                            @Html.Partial("~/Views/Kiout.Teu/Partials/Home/_HeaderNotify.cshtml", Model.Notifys.News.ToList(), ViewData)
                                        </div>
                                    </div>
                                    <div id="panel2" class="tab-pane fade">
                                        <div id="notifyReports" class="list-group">
                                            @Html.Partial("~/Views/Kiout.Teu/Partials/Home/_HeaderNotify.cshtml", Model.Notifys.Reports.ToList(), ViewData)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2" style="">
                        <a class="btn btn-outline-light btn-sm dropdown-toggle std" style="width: 100%;" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Поддержка
                        </a>
                        <div class="dropdown-menu dropdown-menu-right menu" aria-labelledby="dropdownMenu">
                            @if (user.Cabinet.OwnerCabinetId != null)
                            {
                                <a class="dropdown-item" href="tel:@Model.PhoneOwnerCabinet"><i class="fa fa-phone"></i> Телефон: @Model.PhoneOwnerCabinet</a>
                                <a class="dropdown-item" href="mailto:@Model.EmailOwnerCabinet"><i class="fa fa-envelope-o"></i> Почта : @Model.EmailOwnerCabinet</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="tel:7(495)414-10-15"><i class="fa fa-phone"></i> Телефон: +7 (495) 414-10-15</a>
                                <a class="dropdown-item" href="mailto:support@riskprof.ru"><i class="fa fa-envelope-o"></i> Почта : support@riskprof.ru</a>
                            }
                            @if (user != null)
                            {
                                <a class="dropdown-item" id="feedback"><i class="fa fa-comments"></i> Обратная связь</a>
                            }
                        </div>
                    </div>
                    <div class="btn-group mr-1" style="">
                        @if (user != null && isAuthenticated)
                        {
                            <a class="btn btn-outline-light btn-sm dropdown-toggle std" style="width: 100%;" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @user.Title
                            </a>
                            <div class="dropdown-menu dropdown-menu-right menu" id="userMenu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" id="myCabinet">Мой кабинет</a>
                                <a class="dropdown-item" href="@Url.Action("Signout", "Login")" id="btn">Выход</a>
                            </div>
                        }
                    </div>
                    <span class="mr-1">
                        @if (!isAuthenticated)
                        {
                            <a class="btn btn-outline-light btn-sm authHeader" style="color: white" id="btn">Войти</a>
                        }
                    </span>
                </div>
            </div>*@
    </div>
</nav>
@*
        <div id="nav_info" class="alert-warning" style="position: fixed; width: 100%; color: #000000; z-index:1">
            @{
                @*var update = Model.Notifys.Updates.FirstOrDefault();
                    if (update != null)
            foreach (var update in Model.Notifys.Updates)
            {
                if (update.SourceUrl == "")
                {
    <div class="text-center">
        <h5 class="m-1">@update.Title</h5>
    </div>
                }
                else
                {
    <div class="text-center">
        <h5 class="m-1">
            @update.Title
            <a data-rel="media" target="_blank" href="@update.SourceUrl" class="btn btn-outline-primary btn-sm" style="margin-left: 20px">@update.SourceTitle</a>
        </h5>
    </div>
                }
            }
        }
    </div>*@


<script src="~/Content/JQuery/date.min.js"></script>
<script type="text/javascript">
    console.log("header");
    @*@if(user != null) {
        var isAdmin = user.IsMainAdmin;
    <text>
        $(document).find('#userMenu').on('click', '#myCabinet', function () {
            SpinnerFadeIn();
            //if (isAdmin || isCabinetUpdate)
            @if (isAdmin)
            {
                <text>var url = '@Url.Action("Edit", "Cabinet", new { cabinetId = user.CabinetId })';</text>
            }
            else
            {
                <text>var url = '@Url.Action("InfoMyCabinet", "Cabinet", new { cabinetId = user.CabinetId })';</text>
            }
        var data = {
            'id': @user.CabinetId,
            'myCabinet': true
        }
        $.get(url, data, function (response) {
                ModalDialogV3_show(response);
                SpinnerFadeOut();
                return false;
            });
            return false;
        });
    </text>
    }*@

    //$(document).ready(function () {
        //$('.notice-icon-circle').on('click', FollowingLink);
        //$('.notice-title').on('click', FollowingLink);
        //$('.notice-message').on('click', FollowingLink);
        //$('.notice-link').on('click', FollowingLink);

        @*$('#refillknowledgeBase').on('click', function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RefillGlobalCardBase", "CardBase")',
                success: function (result) {
                    if (result == null || result.State != 0) {
                        var message = "Ошибка обновления базы знаний";
                        if (result != null)
                            message += ". " + result.Message;
                        alert(message);
                    } else {
                        $.notify({
                            icon: 'fa fa-check',
                            message: "<strong>База знаний обновлена</strong>"
                        }, notifySettingsSuccess);
                    }
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                },
                complete: function (xhr, status, p3) {
                    SpinnerFadeOut();
                }
            });
        });*@

        //$('#NoticeIcon').on('click', function () {
        //    var notificationsElement = $('#Notifications');
        //    if (notificationsElement.css("display") == "none") {
        //        //console.log("notifications show (in notice icon)");
        //        notificationsElement.show();
        //    }
        //    else {
        //        //console.log("notifications hide (in notice icon)");
        //        notificationsElement.hide();
        //    }
        //});

        //$(document).mouseup(function (e) {
        //    var container = $("#Notifications");
        //    var containerNoticeIcon = $("#NoticeIcon");
        //    if (container.has(e.target).length === 0 && containerNoticeIcon.has(e.target).length === 0) {
        //        //var notificationsElement = $('#Notifications');
        //        //console.log("notifications hide (in mouseup)");
        //        container.hide();
        //    }
        //    else if (containerNoticeIcon.has(e.target).length === 0){
        //        //var notificationsElement = $('#Notifications');
        //        var elems = document.getElementsByClassName('notice-message');
        //        for (var i = 0; i < elems.length; i++) {
        //            if (elems[i].innerHTML.trim().length > 80) {
        //                var newStr = elems[i].innerHTML.trim().slice(0, 77) + "...";
        //                elems[i].innerHTML = newStr;
        //            }
        //        }
        //        //console.log("notifications show (in mouseup)");
        //        container.show();
        //    }
        //});

        //function FollowingLink(){
            @*@if (user != null)
            {*@
                @*<text>
                    var link = $(this).attr("data-link");
                    var id = $(this).attr("data-id");

                    if (link != null && link != "" && id != null && id != "") {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ReadNorify", "Notify", new { cabinetId = Model.CabinetId })',
                            data: { notifyId: id },
                            success: function (result) {
                                location.href = link;
                            },
                            error: function (xhr, status, p3) {
                                console.log(xhr.responseText);
                            }
                        });
                    }
                    return false;
                </text>*@
            //}
        //}

        //$(document).on('keyup', function (e) {
        //    if (e.which === 27) BootstrapDialog.closeAll();
        //});
        @*$(document).on('click', '#feedback', function () {
            console.log('123');
            var url = '@Url.Action("Feedback", "Risk", new { cabinetId = Model.CabinetId})';
            SpinnerFadeIn();
            $.get(url, null, function (response) {
                BootstrapDialog.show({
                title: ' <i id="feedback" class="fa fa-envelope-o" style="color: white;"></i> Обратная связь',
                message: $('<div></div>').html(response),
                closable: false,
                draggable: true,
                buttons: [{
                        label: 'Отмена',
                        cssClass: 'btn-outline-secondary',
                        action: function(dialog) {
                            dialog.close();
                        }
                    }, {
                        label: 'Отправить',
                        cssClass: 'btn-outline-primary',
                        action: function (dialog) {
                            $.validator.addClassRules({
                                Name: { required: true },
                            });
                            $('#feedback-form-model').validate({
                                submitHandler: function () {
                                    var data = $('#feedback-form-model').serialize();
                                    var url = '@Url.Action("SubscribeSendEmail", "Risk", new { cabinetId = Model.CabinetId})';
                                    $.post(url, data, function (response) {
                                        if (response.State == 0) {
                                            SpinnerFadeOut();
                                            dialog.close();
                                            $.notify({
                                                icon: 'fa fa-check',
                                                message: "Сообщение отправлено"
                                            }, notifySettingsSuccess);
                                        } else { alert(response.Message); }
                                    }).fail(function (xhr, status, p3) { alert(xhr.responseText); });
                                },

                                rules: {
                                    Name: "required",
                                    Email: "required",
                                    Text: "required",
                                },
                                messages: {
                                    Name: { required: "Введите Ваше имя" },
                                    Email: { required: "Введите адрес электронной почты" },
                                    Text: { required: "Введите сообщение" },
                                }
                            });
                            if($('#feedback-form-model').valid()) $('#feedback-form-model').submit();;
                        }
                    }]
                });
            })
            .fail(function () { alert("error"); })
            .always(function() {
                SpinnerFadeOut();
            });
        });

    });*@
    //$(document).on('click', '.authHeader', ShowLogin);

    //function ShowLogin() {

    @*var url = '@Url.Action("LoginDialog", "Login")';
        SpinnerFadeIn();*@

    @*$.get(url, null, function (response) {
        BootstrapDialog.show({
            title: 'Вход в систему',
            message: $('<div></div>').html(response),
            closable: false,
            buttons: [{
                label: 'Войти',
                hotkey: 13,
                cssClass: 'btn red-button-singin',
                action: function (dialog) {
                    $('#feedback-form').validate({
                        submitHandler: function () {
                            var data = $('#feedback-form').serialize();
                            var url = '@Url.Action("LoginDialog", "Login")';
                            $.post(url, data, function (result) {
                                if (typeof result !== "undefined") {
                                    if (result.State == 0) {
                                        dialog.close();
                                        if (result.ReturnUrl != null && result.ReturnUrl != "")
                                            document.location.href = result.ReturnUrl;
                                    }
                                    else {
                                        $('.notificationSighIn').css("display", "block");
                                        $('.notificationSighIn').html(result.Message);
                                    }
                                }
                                else {
                                    dialog.close();
                                }

                            })
                                .fail(function () {
                                    alert("error");
                                });
                        },
                        rules: {
                            Login: "required",
                            Password: "required",
                        },
                        messages: {
                            Login: { required: "Введите Ваш логин" },
                            Password: { required: "Введите Ваш пароль" },
                        }
                    });
                    if ($('#feedback-form').valid()) $('#feedback-form').submit();
                }
            }]
        });
    }).fail(function () { alert("error"); })
        .always(function () {
            SpinnerFadeOut();
        });
    };*@
</script>