﻿@{
    Layout = null;
}



<link href="~/Content/ModalDialogV3/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/ModalDialogV3/ModalDialogV3.css" rel="stylesheet" />
<link href="~/Content/fancybox2/jquery.fancybox.css" rel="stylesheet" />

<script src="~/Content/JQuery/jquery.min.js"></script>
<script src="~/Content/fancybox2/jquery.fancybox.pack.js"></script>
<script src="~/Content/ModalDialogV3/ModalDialogV3.js"></script>
<script src="~/Content/RiskProf.Info.API/riskprof.Info.API.config.js?v=1"></script>
<script src="~/Content/RiskProf.Info.API/riskprof.Info.API.js?v=1"></script>

<style>
    .modal-dialog-modified {
        width: 60%;
    }

    .fancybox-inner {
        color: black;
        padding-right: 5px;
    }
</style>

<br />
<label>Элементы</label>
<br />
<input type="text" id="InfoItem" value="" />
<button class="dropdown-item getItemButton" data-Id=1>показать элемент</button>
<button class="dropdown-item getGetItemListButton" data-Id=1>Показать список</button>
<br />
@{
    var items = new SelectList(new List<Guid>() {   RiskProf.Info.Domain.InfoItemPages.Guide,
                                                    RiskProf.Info.Domain.InfoItemPages.Features,
                                                    RiskProf.Info.Domain.InfoItemPages.Partners,
                                                    RiskProf.Info.Domain.InfoItemPages.Updates});
}
@Html.DropDownList("pageGuid", items)
<button class="dropdown-item getGetCategoryButton" value="" data-Id=1>Показать категорию</button>
<br />

<script>
    $(document).on('click', '.getItemButton', function () {
        var model = { id: $(InfoItem).val()};
        RiskProf.InfoApiClient.Instance.GetItemById(model, function (response) {
            //ModalDialogV3_show(response);
            $.fancybox.open({
                content: JSON.stringify(response),  
                'width': '100%', 'height': '100%', 'autoSize': false,
                helpers: { overlay: { closeClick: false } }
            });
            return false;
        });

    });
    $(document).on('click', '.getGetItemListButton', function () {
        var model = {
            'Guid': '88888888-1888-8888-8888-888888888888',
            //'DatePublication': DateNow,
            'IsActive': true,
            //'Lenght': 3,
            //'CategoryId': 1
            //'Start': 0
        };
        RiskProf.InfoApiClient.Instance.GetItemsList(model, function (response) {
            //ModalDialogV3_show(response);
            $.fancybox.open({
                content: JSON.stringify(response),  
                'width': '100%', 'height': '100%', 'autoSize': false,
                helpers: { overlay: { closeClick: false } }
            });
            return false;
        });
    });
    $(document).on('click', '.getGetCategoryButton', function () {
        var model = { pageGuid: $('#pageGuid').val()};
        RiskProf.InfoApiClient.Instance.GetСategoryListByPageGuid(model, function (response) {
            //ModalDialogV3_show(response);
            $.fancybox.open({
                content: JSON.stringify(response),                    
                'width': '100%', 'height': '100%', 'autoSize': false,
                helpers: { overlay: { closeClick: false } }
            });
            return false;
        });

    });
</script>
