﻿@model RiskProf.Info.Dto.InfoItemModel
@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/bootstrap-datetimepicker.min.css" />
<script src="~/Content/JQuery/moment.js"></script>
<script src="~/Content/JQuery/ru.js"></script>
<script src="~/Content/JQuery/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/datatables.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/dataTables.scrollResize.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/tableStyle.css" />


<script src="~/Content/Bootstrap/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap-multiselect.css" />

<style type="text/css">
    #_container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    #accordion .headline {
        background-color: #eef2f5;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        width: 100%;
        padding: 1rem 3rem 1rem 1rem;
        color: #7288a2;
        font-size: 1.15rem;
        font-weight: 400;
        border-bottom: 1px solid #e5e5e5;
    }

        #accordion .headline h3 {
            color: #2e6da4;
        }

        #accordion .accordion-item.active .headline h3,
        #accordion .headline:hover h3 {
            color: #03b5d2;
        }

        #accordion .headline:hover,
        #accordion .headline:hover::after {
            cursor: pointer;
            color: #03b5d2;
        }

    #accordion .accordion-item.active .headline {
        color: #03b5d2;
        border-bottom: 1px solid #03b5d2;
    }

    #accordion .headline::after {
        font-family: FontAwesome;
        content: '\f106';
        position: absolute;
        float: right;
        right: 1rem;
        font-size: 1rem;
        color: #7288a2;
        padding: 3px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
    }

    #accordion .accordion-item.active .headline::after {
        font-family: FontAwesome;
        content: '\f107';
        color: #03b5d2;
    }

    #accordion .content {
        opacity: 0;
        padding: 0 1rem;
        max-height: 0;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        clear: both;
        -webkit-transition: all 0.2s ease 0.15s;
        -o-transition: all 0.2s ease 0.15s;
        transition: all 0.2s ease 0.15s;
    }

        #accordion .content p {
            font-size: 1rem;
            font-weight: 300;
        }

    #accordion .accordion-item.active .content {
        opacity: 1;
        padding: 1rem;
        max-height: 100%;
        -webkit-transition: all 0.35s ease 0.15s;
        -o-transition: all 0.35s ease 0.15s;
        transition: all 0.35s ease 0.15s;
    }

    .one {
        width: 100px;
        margin-right: 30px;
    }

    p, #accordion li {
        text-align: justify;
    }

    .rightimg {
        float: right;
        margin: 0px 0px 0px 30px;
        border: 1px solid gray;
    }

    .leftimg {
        float: left;
        margin: 0px 30px 0px 0px;
        border: 1px solid gray;
    }

    ul {
        padding-left: 30px;
    }

    li {
        list-style: none;
    }

    .headline {
        margin-bottom: 20px !important;
    }

    .notavailable {
        color: gray;
    }

    .infoitem-item {
        border-bottom: solid 1px lightgray;
        margin-bottom: 25px;
        padding-bottom: 25px;
        width: 100%;
    }

    .infoitem-title {
        font-size: 25px;
    }

    .infoitem-datepublication {
        color: darkslategray;
        font-size: 14px;
        font-style: italic;
    }

    .infoitem-text {
    }

    .infoitem-tablerow:hover {
        background-color: #f1f1f1;
    }

    .infoitem-tablerow {
        border-bottom: solid 1px lightgray;
    }

    tbody th {
        font-weight: normal !important;
    }

    .itCentr {
        text-align: center;
    }

    .dropdown-item {
        width: 80% !important;
    }

    #SearchCategoryGroup {
        width: 80% !important;
    }

</style>

<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/buttons.dataTables.min.css" />
<script type="text/javascript" src="~/Content/Table/Js/DataTables/datatables.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/Content/Table/Js/DataTables/dataTables.scrollResize.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Table/css/DataTables/tableStyle.css" />
<script src="~/Content/JQuery/moment.js"></script>
<script src="~/Content/jquery/bootstrap-datetimepicker.min.js"></script>

<div class="container-fluid" id="_container">

    <nav class="navbar navbar-expand-sm pl-0 pr-0 headline">
        <h1 style="margin:0px;">Администрирование. Список информационых блоков</h1>
        <div class="ml-auto mr-1 dropleft">
            @*<a class="btn btn-outline-primary btn-sm" id="CategoryEdit_button" title="Редактировать категории" href="#"><span class="fa fa-pencil">&nbsp;Категории</span></a>*@
            <a class="btn btn-outline-primary btn-sm add-hazardsource-button" title="Создать инфоблок" href="@Url.Action("EditInfoItem", "InfoAdmin")"><span class="fa fa-plus"></span></a>
        </div>
        @*<div class="ml-auto mr-1 dropleft">

            </div>
            <div class="ml-auto mr-1 dropleft">

            </div>*@
    </nav>
    <div id="tableId" class="col-lg-12 flex-column" cellspacing="0" width="100%" style="padding-left:0px; padding-right:0px;">
        <table id="table_id" class="display" style="width:100%;">
            <thead id="head">
                <tr style="border-bottom: solid 2px gray;">
                    <th> </th>
                    <th name="type_number" id="Id">ID</th>
                    <th name="type_bool" id="IsActive">Доступность</th>
                    <th name="type_text" id="Title">Название</th>
                    <th name="type_select" id="Category">Категории</th>
                    <th name="type_datePublication" id="DatePublication">Дата публикации</th>
                    <th name="type_dateStartPublication" id="DateStart">Начало публикации</th>
                    <th name="type_dateEndPublication" id="DateEnd">Конец публикации</th>
                </tr>
            </thead>
        </table>
    </div>


</div>

<script>
        function OnDelete(id) {
        var resultActionUser = confirm("Пользователь, пожалуйста нажми на кнопку ОК.");
        if (resultActionUser) {
            window.location.href = "@Url.Action("DeleteInfoItem", "InfoAdmin")" + "?id=" + id ;
        }
    };

    $(document).ready(function () {
        $(window).resize(function () {
            var nav_panel = $('#nav_panel').height() + 16;
            var height = $('.headline').height();
            $("#tableId").css({ 'height': 'calc(100vh - 24px - ' + nav_panel + 'px - ' + height + 'px)' });
            setTimeout(function () { table.columns.adjust().responsive.recalc(); }, 300);
        });
        $(window).resize();
        fillSelectList($("#SearchCategoryGroup"), '@Url.Action("GetCategoryList", "InfoAdmin", null)');
    });

    function DateToString(date, formate) {

        if (date == null || date == 'undefined' || date == '')
            return date;

        if (formate == null || formate == 'undefined' || formate == '')
            formate = 'dd.MM.yyyy HH:mm';

        var d = /\/Date\((\d*)\)\//.exec(date);
        var dd = (d) ? new Date(+d[1]) : date;

        return dd.toString(formate);
    }
        console.log("InfoItemList");
        var icon3 = '<span class="fa fa-filter"></span>';
        var icon4 = '<span class="fa fa-sort-amount-asc"></span>';
        var icon5 = '<span class="fa fa-sort-amount-desc"></span>';
        var flag = true;
        var index = 0;
        var search = {};

        $(window).resize(function () {
            var nav_panel = $('#nav_panel').height() + 16;
            var height = $('.headline').height();
            $("#tableId").css({ 'height': 'calc(100vh - 24px - ' + nav_panel + 'px - ' + height + 'px)' });
            setTimeout(function () { table.columns.adjust().responsive.recalc(); }, 300);
        });
        $(window).resize();

     $('#table_id thead tr:eq(0) th').each(function () {
            var title = $(this).text();
            var id =  $(this).attr('id');
            var name = $(this).attr('name');
            var field_head = this;
            var change = false;
            var but = '';

            search.DatePublicationMax = search.DateStartPublicationMax = search.DateEndPublicationMax = '2029-01-01T00:00';
         search.DatePublicationMin = search.DateStartPublicationMin = search.DateEndPublicationMin = '2019-01-01T00:00';

            if (name == 'type_number')
                but = '<input type="number" id="'+ id +'" style="width: 100%;" class="form-control listener" placeholder="' + title + '"/>'
            if (name == 'type_text')
                but = '<input type="text" id="' + id + '" style="width: 100%;" class="form-control listener" placeholder="' + title + '"/>';
            if (name == 'type_category')
                but = '<input type="text" id="' + id + '" style="width: 100%;" class="form-control listener" placeholder="' + title + '"/>';
            if (name == 'type_datePublication')
             but = '<div style="padding-bottom: 5px;">от&nbsp&nbsp<input id = "' + id + 'Min" value="' + search.DatePublicationMin + '" class="form-control listener" type="datetime-local" style="width: 200px; display: initial;" required/></div><div>до&nbsp<input class="form-control listener" style="width: 200px; display: initial;"type="datetime-local" value="' + search.DatePublicationMax + '" id = "' + id + 'Max"/></div><span class="validity"></span>';
             if (name == 'type_dateStartPublication')
             but = '<div style="padding-bottom: 5px;">от&nbsp&nbsp<input id = "' + id + 'Min" value="' + search.DateStartPublicationMin + '" class="form-control listener" type="datetime-local" style="width: 200px; display: initial;" required/></div><div>до&nbsp<input class="form-control listener" style="width: 200px; display: initial;"type="datetime-local" value="' + search.DateStartPublicationMax + '" id = "' + id + 'Max"/></div><span class="validity"></span>';
             if (name == 'type_dateEndPublication')
                but = '<div style="padding-bottom: 5px;">от&nbsp&nbsp<input id = "' + id + 'Min" value="' + search.DateEndPublicationMin + '" class="form-control listener" type="datetime-local" style="width: 200px; display: initial;" required/></div><div>до&nbsp<input class="form-control listener" style="width: 200px; display: initial;"type="datetime-local" value="' + search.DateEndPublicationMax + '" id = "' + id + 'Max"/></div><span class="validity"></span>';
            if (name == 'type_select')
                but = '<select class="custom-select listener" id="SearchCategoryGroup" style="width: 100%" "></select >';
            $('#SearchCategoryGroup [value="' + search['SearchCategoryGroup'] + '"]').attr("selected", "selected");

            if (title != ' ' && title != 'Доступность') {
                but = '<li><a class="dropdown-item input_menu">' + but + '</a></li>'
                if (title != 'Категория')
                {
                    but = '<li><a class="dropdown-item sort" id="' + index + '">' + icon4 + ' Сортировать по возрастанию</a></li><li><a class="dropdown-item sort_alt" id="' + index + '">' + icon5 + ' Сортировать по убыванию</a></li>' + but;
                }
                but = '<ul class="dropdown-menu" id="dropdown-menu-thead">' + but + '</ul>';

                if (change) {
                but = '<button class="btn btn-dark btn-sm" aria-controls="example" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">' + icon3 + '</button >' + but;
                }
                else {
                    but = '<button class="btn btn-outline-dark btn-sm buttonFilter" aria-controls="example" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" >' + icon3 + '</button >' + but;
                }
                $(this).append('<div style="position: absolute; top: 5px; right: 10px;" class="btn-group" > ' + but + '</div >');
            }

            index++;

            $(this).find(".listener").bind("change input", function () {
                var value = "";
                switch (this.nodeName) {
                case "SELECT":
                    value = $(this).find('option:selected').text();
                    break;
                case "INPUT":
                    value = $(this).val();
                    break;
                }
                if (value == "" || value== "Не выбрано") {
                    $(field_head).find("button").removeClass("btn-dark").addClass("btn-outline-dark");
                }
                else {
                    $(field_head).find("button").removeClass("btn-outline-dark").addClass("btn-dark");
                }
            });
     });
    $(document).ready(function () {
        $('input', this).keyup(function (e) {
            if (e.keyCode == 13) {
                search[this.id] = this.value;
                $('.dropdown-menu').removeClass('show');
                var scrollPos = $("#tableId .dataTables_scrollBody").scrollTop();
                table.ajax.reload(function () { $("#tableId .dataTables_scrollBody").scrollTop(scrollPos); }, false);
            }
        });
        $('select', this).on('keyup change', function () {
                search['SearchCategoryGroup'] = this.offsetParent.lastChild.children[0].children[0].value;
                $('.dropdown-menu').removeClass('show');
                var scrollPos = $("#tableId .dataTables_scrollBody").scrollTop();
                table.ajax.reload(function () { $("#tableId .dataTables_scrollBody").scrollTop(scrollPos); }, false);
        });
        });
     var table = $('#table_id').DataTable({
        "paging": false,
     });

    var viewNewsUrl = '@Url.Action("NewsInfoItemAdmin", "InfoAdmin",new {},this.Request.Url.Scheme)';

    var singleObj = {};
    tableFill(singleObj);
    function tableFill(model) {
        table.destroy();
        table = $('#table_id').DataTable({
                "dom": 'rt<<"st1 bot"><"st2"l><"st3"i><p>>',
                "searching": false,
            "ajax": function (data, callback, settings) {
                    model.Id = search.Id;
                    model.CategoryId = search.SearchCategoryGroup;
                    model.Title = search.Title;
                    model.DatePublicationMax = search.DatePublicationMax;
                    model.DatePublicationMin = search.DatePublicationMin;
                    model.DateStartPublicationMax = search.DateStartPublicationMax;
                    model.DateStartPublicationMin = search.DateStartPublicationMin;
                    model.DateEndPublicationMax = search.DateEndPublicationMax;
                    model.DateEndPublicationMin = search.DateEndPublicationMin;
                    model.Available = search.Available;
                    data['infoItemFilter'] = model;
                    $.ajax({
                        "url": '@Url.Action("GetInfoItemAdminPanel", "InfoAdmin", new { @*cabinetId = Model.CabinetId*@ })',
                        "type": "POST",
                        "data": data,
                        "datatype": "json",
                        "success": function (data) {
                            callback(data);
                            table.columns.adjust().responsive.recalc();
                        },
                        "error": function(data) {
                            alert('Ошибка: ' + data.message);
                        }
                    });
                },
                "bAutoWidth": false,
            "columns": [
                        { "data": null, "orderable": false, "sWidth": "2%" },
                        { "data": "Id", "name": "Id", "orderable": false, "sWidth": "5%"},
                        { "data": "IsActive", "name": "IsActive", "orderable": false, "sWidth": "9%"},
                        { "data": "Title", "name": "Title", "orderable": false},
                        { "data": null, "orderable": false, "sWidth": "10%"},
                        { "data": "DatePublication", "name": "DatePublication", "orderable": false, "sWidth": "13%" },
                        { "data": "DateStart", "name": "DateStart", "orderable": false, "sWidth": "13%"},
                        { "data": "DateEnd", "name": "DateEnd", "orderable": false, "sWidth": "13%"},

            ],
                "processing": true,
                "serverSide": true,
                "scrollResize": true,
                "scrollY": "100",
                "scrollX": true,
                "scrollCollapse": true,
                "orderCellsTop": true,
                "retrieve": true,
                "order": [1, "asc"],
                "lengthMenu": [500, 10, 25, 50, 100],
            "rowCallback": function (row, data, index) {
                        $('td:eq(0)', row).html('<button class="btn btn-outline-dark btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                            '<span class="fa fa-bars"></span></button><ul class="dropdown-menu">' +
                            '<li><a id=' + data.Id + ' href="EditInfoAdmin?itemInfoId=' + data.Id + '" class = "dropdown-item"><span class="fa fa-list-alt" ></span> Редактировать </a></li>' +
                            '<li><a id=' + data.Id + ' href="news/' + data.Id + '/' + data.TransliteratedTitle + '#category=' + data.ItemCategoriesList[0].CategoryId + ' " class = "dropdown-item"><span class="fa fa-file" ></span> Просмотреть </a></li>' +
                            '<li><a id=' + data.Id + ' class = "deleteLightItem dropdown-item"><span class="fa fa-trash"></span> Удалить </a></li>' +
                            '<li><a id=' + data.Id + ' Active=' + ((data.IsActive) ? 1:0)+' class = "ActiveLightItem dropdown-item"><span class="fa fa-check-square-o mr-2"></span>' + ((data.IsActive) ? "Снять с публикации":"Добавить в публикации")+'</a></li></ul>');
                   $('td:eq(1)', row).html((data.Id));
                   $('td:eq(2)', row).html((data.IsActive) ? "<div style='text-align: center;'><span class='ActiveLightItem fa fa-check' style='text-align: center;'></span></div>" : " ");

                var res = "";
                var url = '';

                     /*сылка категории*/
                for (var i = 0; i < $(data.ItemCategoriesList).length; i++) {
                    var item = $(data.ItemCategoriesList)[i];

                    @*switch (item.CategoryId) {
                        case @((int)InfoType.News):            url = '@Url.Action("AllNews", "InfoItem")';         break;
                        case @((int)InfoType.Feature):         url = '@Url.Action("Features", "InfoItem")';         break;
                        case @((int)InfoType.Webinar):         url = '@Url.Action("Webinars", "InfoItem")';         break;
                        case @((int)InfoType.MethodDoc):       url = '@Url.Action("MethodicalMaterials", "InfoItem")';      break;
                        case @((int)InfoType.Partners):        url = '@Url.Action("Partners", "InfoItem")';        break;
                        case @((int)InfoType.NewsOverview):    url = '@Url.Action("NewsReview", "InfoItem")';    break;
                        case @((int)InfoType.SalesManager):    url = '@Url.Action("SaleDocuments", "InfoItem")';    break;
                        case @((int)InfoType.QuickstartGuide): url = '@Url.Action("QuickstartGuide", "InfoItem")';         break;
                    }*@

                    res +=item.InnerName + '</br>'; //'<a href="' + url + '">' + item.InnerName + '</a></br>';
                }
                $('td:eq(4)', row).html(res);
                $('td:eq(5)', row).html(DateToString(data.DatePublication));
                $('td:eq(6)', row).html(DateToString(data.DateStart));
                $('td:eq(7)', row).html(DateToString(data.DateEnd));


                   var res = "";
                for (var i = 0; i < $(data).length; i++) {
                    var url = '@Url.Action("EditInfoItem", "InfoAdmin")' + "?itemInfoId=" + data.Id;
                    res += '<a href="' + url + '" "> '+ data.Title +'</a > ';
                }
                $('td:eq(3)', row).html(res);
            },

        });
        $('.bot').append('<button id = "clear" type="button" class="btn btn-outline-dark btn-sm">Очистить фильтры</button>');

    };

  $(document).on('click', '.ActiveLightItem', function () {
        var data = {
            'id': $(this).attr("id"),
              'isActive': $(this).attr("Active"),

      };
          var url = '@Url.Action("InfoItemActive", "InfoAdmin")';
        $.ajax({
            "url": url,
            "type": "GET",
            "data" : data ,
            "success": function (data) {
                var scrollPos = $("#tableId .dataTables_scrollBody").scrollTop();
                table.ajax.reload(function () { $("#tableId .dataTables_scrollBody").scrollTop(scrollPos); }, false);
            },
            "error": function(data) {
                alert('Ошибка: ' + data.message);
            }
         });
    });

        $(document).on('click', '.deleteLightItem', function () {
        var id = $(this).attr("id");
        var data = {
            'id': $(this).attr("id"),
            'type': "GET"
        };

          var url = '@Url.Action("DeleteInfoItem", "InfoAdmin")';
        $.ajax({
            "url": url,
            "type": "GET",
            "data" : data ,
            "success": function (data) {
                var scrollPos = $("#tableId .dataTables_scrollBody").scrollTop();
                table.ajax.reload(function () { $("#tableId .dataTables_scrollBody").scrollTop(scrollPos); }, false);
            },
            "error": function(data) {
                alert('Ошибка: ' + data.message);
            }
         });
    });


    $(document).on('click', '.sort', function () {
        console.log("sort " + this.id);
        table.order([[this.id, 'asc']]).draw(false);
    });

    $(document).on('click', '.sort_alt', function () {
        console.log("sort_alt " + this.id);
        table.order([[this.id, 'desc']]).draw(false);
    });

    $('.dropdown-menu > li > a > select').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
    });

    $('#clear').on('click', function () {
        $("a.input_menu").find('input').each(function () {
            $(this).val("");
            search[$(this).attr('id')]="";
        });
        $("#head").find("button").removeClass("btn-dark").addClass("btn-outline-dark");
                var scrollPos = $("#tableId .dataTables_scrollBody").scrollTop();
                table.ajax.reload(function () { $("#tableId .dataTables_scrollBody").scrollTop(scrollPos); }, false);
    });

    function fillSelectList(list, url) {

        list.empty();
        $.ajax({
            type: "POST",
            url: url,
            data: {},
            dataType: "json",
            async: true,
            success: function (data) {
                $.each(data, function (index, itemData) {
                    list.append('<option title="'+ itemData.Text +'" value=' + itemData.Value + '>' + itemData.Text +  '</option > ');
                });
            },
            "error": function(data) {
                var obj = JSON.parse(data.responseText);
                console.log(obj);
                alert('Ошибка: ' + obj.message);
            }
        });
    }


        $('#CategoryEdit_button').on('click', function () {//Для ссылки с названием подразделения у РМ
       var url = '@Url.Action("GetEntity", "InfoItemCategory", new {versionId=1})';
        var data = {
            'entityItemId': '@Guid.Empty'
        }

        SpinnerFadeIn();
        $.get(url, data, function (response) {
            ModalDialogV2_show(response);
            SpinnerFadeOut();
            return false;
        });

        return false;
        });



    window.EventRouter.subscribe("CategoryTable", function () {

        fillSelectList($("#SearchCategoryGroup"), '@Url.Action("GetCategoryList", "InfoAdmin", null)');
    });


</script>