﻿@model RiskProf.Info.Dto.InfoItemModel

@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
    //string url = this.Request.RawUrl;
    //url = System.Text.RegularExpressions.Regex.Replace(url, @"&tabs=(\w)+[^&]", "");
    //string tabs = this.Request["tabs"];
    //if (tabs.IsEmpty()) { tabs = "panel_edit"; }

}

<link href="~/Content/Bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/js/bootstrap-multiselect.js"></script>
<link href="~/Content/Bootstrap/css/bootstrap-multiselect.css" rel="stylesheet" />

<script src="~/Content/jquery/moment.js"></script>
<script src="~/Content/jquery/ru.js"></script>
<script src="~/Content/JQuery/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/JQuery/clipboard.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>

<style>
    .question {
        font-size: .85em;
        line-height: 0.75em;
        vertical-align: 0%;
        color: #007bff;
    }

    .form-control-label {
        min-width: 181px;
    }

    @@media screen and (min-width: 1200px) {
        .form-control-label {
            text-align: right;
            margin-bottom: 0;
            padding-top: 7px;
        }
    }

    @@media screen and (max-width: 1200px) {
        .left {
            text-align: left !important;
        }
    }

    .line::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        /*margin-bottom: 25px;*/
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#54565A0f), color-stop(20%,#54565A5e), color-stop(53%,#54565A), color-stop(79%,#54565A5e), color-stop(100%,#54565A0f));
        background: -webkit-linear-gradient(left, #54565A0f 0%,#54565A5e 20%,#54565A 53%,#54565A5e 79%,#54565A0f 100%);
    }

    .thead-default th {
        color: #343a40;
        background-color: #d8d8d8;
    }

    input[type="number"], textarea {
        font-size: 1.3em !important;
    }

    label.error {
        margin-bottom: 0px !important;
    }

    .field {
        margin-bottom: 2px;
        margin-left: 1px;
    }

    .fieldTO {
        margin-bottom: 2px;
        margin-left: 15px;
        width: 120px;
    }

    .field-Dt {
        margin-bottom: 2px;
        margin-left: 15px;
    }

    .form-control.error {
        border: 1px solid red;
    }

    .img-info {
        margin-bottom: 15px;
    }

    .form-control.error:focus {
        border-color: red;
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    }

    button[class=multiselect] {
        width: 100%;
    }


    .multiselect-container li, .multiselect-container a, .multiselect-container label {
        display: block;
        color: black;
        background-color: white;
        background-image: none;
    }

    .multiselect-container > li > a > label {
        padding: 2px 0px 2px 10px;
    }

    .multiselect-container .form-group .btn-group {
        width: 100%;
    }

        .multiselect-container .form-group .btn-group button {
            width: 100%;
            text-align: right;
        }

    left {
        float: left;
    }

    ul.multiselect-container.dropdown-menu.show {
        width: 100%;
    }

    input[type="text"] {
        font-size: .875rem;
    }

    .input-group-addon,
    .input-group .form-control {
        display: table-cell;
    }

        .input-group .form-control:first-child,
        .input-group-addon:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .input-group-addon:first-child {
            border-right: 0;
        }

        .input-group .form-control:last-child,
        .input-group-addon:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .input-group-addon:last-child {
            border-left: 0;
        }

    #feedback-form > div > div.modal-body.line.pt-4.pb-0 > div:nth-child(3) > div:nth-child(2) > div > div > div > span > div > ul {
        width: 380px !important;
    }

    #feedback-form > div > div.modal-body.line.pt-4.pb-0 > div:nth-child(3) > div:nth-child(3) > div > div > div > span > div > ul {
        width: 380px !important;
    }

    #feedback-form > div > div.modal-body.line.pt-4.pb-0 > div:nth-child(2) > div:nth-child(3) > div > div > div > span > div > ul {
        width: 380px !important;
    }

    .table td, .table th {
        padding: 0.5rem !important;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

<div id="_container" class="pl-3 pr-3" style="        margin-top: calc(25px);
        height: calc(((100vh - 16px) - 73px) - 104px);
        visibility: visible;
        width: 100%;">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#panel_edit" aria-selected="true">ИнфоБлок</a></li>
        @if (Model.InfoItemToEdit.Id != null)
        {
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panel_file" aria-selected="false">Файлы</a></li>
        }
    </ul>
    <div class="tab-content scrollbar square thin" style="padding: 5px;">
        <div id="panel_edit" class="tab-pane fade show active">
            <form id="feedback-form" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.InfoItemToEdit.Id" />
                <input type="hidden" name="IsDeleted" value="false" />
                <input type="hidden" name="IsActive" value="true" />

                <div class="container">
                    <div class="text-center line">
                        @if (Model.InfoItemToEdit.Id == null)
                        {<h3>Добавить инфоблок</h3>}
                        else
                        {<h3>Редактировать инфоблок</h3>}
                    </div>

                    <div class="modal-body line pt-4 pb-0" style="background-color: #f9f9f9;">
                        <div class="form-group row">
                            <label title="Партнеры: название субъекта." class="fieldTO">Заголовок<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-10">
                                <input type="text" name="Title" value="@Model.InfoItemToEdit.Title" class="form-control form-control-sm" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="fieldTO"></label>
                            <div class="col-lg-5">
                                <div class="">
                                    <div class="form-group">
                                        <label title="Отображение для пользователя" class="">Доступно для публикации</label>
                                        <div class="col-lg-5">
                                            @if (Model.InfoItemToEdit.IsActive == true)
                                            {
                                                <input class="field" type="checkbox" checked="checked" name="AvailableOn" />
                                            }
                                            else
                                            {
                                                <input class="field" type="checkbox" name="AvailableOn" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="">
                                    <div class="form-group">
                                        <label title="Выбор категорий ИнфоБлока.
Внимание! Выбор категорий связанных с разными страницами
ведет к непредсказуемым последствиям!" class="">Категории</label>
                                        <div class="col-lg-8">
                                            <select name="CategoryIds" id="example-buttonWidth-overflow" multiple="multiple">
                                                @foreach (var item in Model.InfoItemCategoryList)
                                                {
                                                    var flag = 0;
                                                    foreach (var category in Model.InfoItemToEdit.ItemCategoriesList)
                                                    {
                                                        if (item.CategoryId == category.CategoryId)
                                                        {
                                                            if (item.ParentId != null)
                                                            {
                                                                <option value="@item.CategoryId" style="margin-left:10px;" selected>@item.InnerName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.CategoryId" selected>@item.InnerName</option>
                                                            }

                                                            flag = 1;
                                                            break;
                                                        }

                                                    }
                                                    if (flag == 0)
                                                    {
                                                        if (item.ParentId != null)
                                                        {
                                                            <option value="@item.CategoryId">@item.InnerName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CategoryId">@item.InnerName</option>
                                                        }
                                                    }

                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="fieldTO"></label>
                            <div class="col-lg-5">
                                <div class="">
                                    <div class="form-group">
                                        <label title="Пользователи с указанными функциями
будут иметь полный доступ" class="">Функции для полного доступа</label>
                                        <div class="col-lg-8">
                                            <select name="ClaimIds" id="claims" multiple="multiple">


                                                @foreach (var claimAll in Model.Claims)
                                                {

                                                    var flag = 0;
                                                    foreach (var claim in Model.InfoItemToEdit.ClaimsList)
                                                    {
                                                        if (claimAll.Id == claim.ClaimId)
                                                        {
                                                            <option value="@claimAll.Id" style="margin-left:10px;" selected>@claimAll.Title</option>
                                                            flag = 1;
                                                            break;
                                                        }

                                                    }
                                                    if (flag == 0)
                                                    {
                                                        <option value="@claimAll.Id" style="margin-left:10px;">@claimAll.Title</option>
                                                    }


                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="">
                                    <div class="form-group">
                                        <label title="Пользователи с указанными функциями
будут иметь демо доступ" class="">Функция для демонстрационного доступа</label>
                                        <div class="col-lg-8">
                                            <select name="ClaimBool" id="claimsBool" multiple="multiple">
                                                @foreach (var claimAll in Model.Claims)
                                                {
                                                    var flag = 0;
                                                    foreach (var claim in Model.InfoItemToEdit.ClaimsListDemo)
                                                    {
                                                        if (claimAll.Id == claim.ClaimId)
                                                        {
                                                            <option value="@claimAll.Id" style="margin-left:10px;" selected>@claimAll.Title</option>
                                                            flag = 1;
                                                            break;
                                                        }

                                                    }
                                                    if (flag == 0)
                                                    {
                                                        <option value="@claimAll.Id" style="margin-left:10px;">@claimAll.Title</option>
                                                    }


                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="fieldTO"></label>
                            <div class="col-lg-5">
                                <div class="">
                                    <div class="form-group">
                                        <label title="Новости: указывает тип отображения. (Видео или Статья)" class="">Тип контента</label>
                                        <div class="col-lg-5">
                                            <select name="TypeId" id="TypeSelect" class="form-control">
                                                @foreach (var type in Model.Types)
                                                {
                                                    if (@type.Id == Model.InfoItemToEdit.TypeId)
                                                    {
                                                        <option value="@type.Id" style="margin-left:10px;" selected="selected">@type.Title</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.Id" style="margin-left:10px;">@type.Title</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label title="Новости: краткое описание новости;
Путеводитель: заголовок." class="fieldTO">Аннотация<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-10">
                                <textarea rows="3" type="text" name="Description" class="form-control form-control-sm" required>@Model.InfoItemToEdit.Description </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label title="Партнеры: информация о партнере." class="fieldTO">Текст<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-10">
                                <textarea rows="15" type="text" name="Text" class="form-control form-control-sm" id="editor1">@Model.InfoItemToEdit.Text</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="fieldTO">Текст для демо отображения<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-10">
                                <textarea rows="15" type="text" name="DemoText" class="form-control form-control-sm" id="editor2">@Model.InfoItemToEdit.DemoText</textarea>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label title="Новости: название источника
Партнер: Отображаемая пользователю ссылка на сайт партнера" class="fieldTO">Источник</label>
                            <div class="col-lg-10">
                                <input type="text" name="SourceTitle" value="@Model.InfoItemToEdit.SourceTitle" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label title="Новости: ссылка на источник
Партнеры: Ссылка на сайт партнера
Вебинары: ссылка на регистрацию в вебинаре
Обзор новостей: путь к обзору новостей" class="fieldTO">Источник URL</label>
                            <div class="col-lg-10">
                                <input type="text" name="SourceUrl" value="@Model.InfoItemToEdit.SourceUrl" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label title="Партнеры: Ссылка на сайт партнера
Вебинары: Ссылка на просмотр вебинара
Обзор новостей: Путь к обзору изменений законодательства
Методический документ: Путь к методическому документу
Материалы для продаж: Путь к материалу для продаж" class="fieldTO">Контент URL</label>
                            <div class="col-lg-10">
                                <input type="text" name="ContentUrl" value="@Model.InfoItemToEdit.ContentUrl" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label title="Новости: ссылка на видеоматериал
 Вебинары: Название страницы с расшифровкой вебинара" class="fieldTO">Экстра URL</label>
                            <div class="col-lg-10">
                                <input type="text" name="ExtraUrl" value="@Model.InfoItemToEdit.ExtraUrl" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label title="Новости: путь к превью-картинке" class="fieldTO">Превью URL</label>
                            <div class="col-lg-10">
                                <input type="text" name="PreviewURL" value="@Model.InfoItemToEdit.PreviewURL" class="form-control form-control-sm" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="fieldTO">Даты Публикации</label>
                            <div class="col-lg-3">
                                <div class="">
                                    <div class="form-group">
                                        <label class="">Отображаемая дата</label>
                                        <div class='input-group date' id='datetimepicker'>
                                            <input type='text' name="DatePublication" class="form-control" value="@Model.InfoItemToEdit.DatePublication" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar glyphicon-calendar glyphicon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="">
                                    <div class="form-group">
                                        <label class="">Начало публикации</label>
                                        <div class='input-group date' id='datetimepicker-start'>
                                            <input type='text' name="DateStart" class="form-control" value="@Model.InfoItemToEdit.DateStart" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar glyphicon-calendar glyphicon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="">
                                    <div class="form-group">
                                        <label class="">Окончание публикации</label>
                                        <div class='input-group date' id='datetimepicker-end'>
                                            <input type='text' name="DateEnd" class="form-control" value="@Model.InfoItemToEdit.DateEnd" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar glyphicon-calendar glyphicon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="SaveButton" type="submit" value="Сохранить" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
        <div id="panel_file" class="tab-pane fade">
            <div class="container">
                <div class="text-center line">
                    @if (Model.InfoItemToEdit.Id == null)
                    {<h3>Добавить инфоблок</h3>}
                    else
                    {<h3>Редактировать инфоблок</h3>}
                </div>
                @*<table id="table_id" class="table table-striped " style="width:105%;">
                        <thead id="head">
                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th name="type_number" id="Id">id</th>
                                <th name="type_text" id="Title">Имя файла</th>
                                <th name="type_date" id="DateCreated">Создан</th>
                                <th name="type_date" id="DateCreated">Ссылка</th>
                            </tr>
                        </thead>
                        @if (Model.Files != null)
                        {
                            <tbody>

                                @foreach (var item in Model.Files)
                                {
                                    var tooltips = "<img src='" + Url.Action("GetFile", "InfoItem", new { fileId = item.FileInfoId, infoItemId = Model.InfoItemToEdit.Id }, this.Request.Url.Scheme) + "'/>";
                                    <tr>
                                        <td><img src="@Url.Action("GetFile","InfoItem",new { fileId = item.FileInfoId,infoItemId = Model.InfoItemToEdit.Id })" height="45" data-toggle="tooltip" title="@Html.Raw(tooltips)" /></td>
                                        <td><span data-toggle="tooltip" title="@Html.Raw(tooltips)">@item.FileInfoId</span></td>
                                        <td style="width: 100%;"><span style="width: 100%;" data-toggle="tooltip" title="@Html.Raw(tooltips)">@item.FileInfo.UserFileName</span></td>
                                        <td><span data-toggle="tooltip" title="@Html.Raw(tooltips)">@item.FileInfo.DateCreated.ToShortDateStringRu()</span></td>

                                        <td>
                                            <nobr>
                                                <input type="text" value="@Url.Action("GetFile","InfoItem",new { fileId = item.FileInfoId,infoItemId = Model.InfoItemToEdit.Id }, this.Request.Url.Scheme)" style="width:700px" />
                                                <button data-clipboard-text="@Url.Action("GetFile","InfoItem",new { fileId = item.FileInfoId,infoItemId = Model.InfoItemToEdit.Id }, this.Request.Url.Scheme)" data-clipboard-action="copy" class="btn"><img src="~/Content/Images/clippy.svg" alt="Copy to clipboard" width="25"></button>
                                            </nobr>
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("DeleteFile", "InfoItem", FormMethod.Post, new { style = "display:inline;" }))
                                            {
                                                <input type="hidden" name="FileId" value="@item.FileInfoId" />
                                                <input type="hidden" name="EntityTypeId" value="@item.EntityTypeId" />
                                                <input type="hidden" name="EntityId" value="@item.EntityId" />
                                                <input type="hidden" name="ReturnUrl" value="@(url)&tabs=panel_file" />
                                                <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="" onclick="return confirm('Вы уверены что хотите удалить файл?')">Удалить</button>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2">
                                        @using (Model.BeginRouteForm(Html, "Risk_InfoItemUploadFile", FormMethod.Post, null, new { enctype = "multipart/form-data", }))
                                        {
                                            <div style="float:left;margin-bottom: 7px; margin-left:50px; height: 40px" id="frameForm">
                                                <input type="hidden" name="ReturnUrl" value="@(url)&tabs=panel_file" />
                                                <input type="hidden" name="infoItemId" value="@Model.InfoItemToEdit.Id" />
                                                <input type="file" name="file" id="file" style="width:250px; height: 30px" />
                                                <input id="submitFrame" class="btn btn-primary" type="submit" value="Загрузить" />
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>*@

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#example-buttonWidth-overflow').multiselect({
            buttonWidth: '250px',

            buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Не выбрано';
                }
                else if (options.length == 1) {
                    return $(options[0]).text();
                 }
                      else if (options.length > 2) {
                    return options.length + ' выбрано категорий';
                }
                else {
                    var selected = '';
                    options.each(function() {
                        selected += $(this).text() + ', ';
                    });
					return  selected;
                }
                    }
        });

        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function(e) {
            alert('Скопрованно в буффер')
        });

        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom',
            html: true
        })
    });

     $(document).ready(function() {
        $('#claims').multiselect({
            buttonWidth: '250px',

            buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Не выбрано';
                }
                else if (options.length == 1) {
                    return $(options[0]).text();
                 }
                      else if (options.length > 1) {
                    return options.length + ' выбрано Функций';
                }
                else {
                    var selected = '';
                    options.each(function() {
                        selected += $(this).text() + ', ';
                    });
					return  selected;
                }
                    }
        });

        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function(e) {
            alert('Скопрованно в буффер')
        });

        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom',
            html: true
        })
    });

    $(document).ready(function() {
        $('#claimsBool').multiselect({
            buttonWidth: '250px',

            buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Не выбрано';
                }
                else if (options.length == 1) {
                    return $(options[0]).text();
                 }
                      else if (options.length > 1) {
                    return options.length + ' выбрано Функций Демо';
                }
                else {
                    var selected = '';
                    options.each(function() {
                        selected += $(this).text() + ', ';
                    });
					return  selected;
                }
                    }
        });

        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function(e) {
            alert('Скопрованно в буффер')
        });

        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom',
            html: true
        })
    });


    $(function () {

        $('#datetimepicker').datetimepicker({
            language: 'ru',
            Default: true,
            //minDate: '01/01/2020',
            pickTime: false,
            format : "DD.MM.YYYY HH:mm"
        });
    });
        $(function() {
           $('#datetimepicker-start').datetimepicker({
             language: 'ru',
             Default: true,
             //minDate: '01/01/2020',
             pickTime: false,
             format : "DD.MM.YYYY HH:mm"
           });
        });

        $(function() {
           $('#datetimepicker-end').datetimepicker({
             language: 'ru',
             Default: true,
             //minDate: '01/01/2020',
             pickTime: false,
             format : "DD.MM.YYYY HH:mm"
           });
        });

    $(document).ready(function () {
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.replace('editor1');
        CKEDITOR.replace( 'editor2' );
        });


    $('#feedback-form').validate({
            submitHandler: function (){
            console.log("#feedback-form");

            var $form = $("#feedback-form");
            var unindexed_array = $form.serializeArray();

            var data='';
            for (var i = 0; i < unindexed_array.length; i++) {
                if (i>0) {
                    data += '&';
                }
                if (unindexed_array[i].name == 'Text') {
                    data += 'Text=' + encodeURIComponent(CKEDITOR.instances.editor1.getData());
                    continue;
                }
                 if (unindexed_array[i].name == 'DemoText') {
                     data += 'DemoText=' + encodeURIComponent(CKEDITOR.instances.editor2.getData());
                      continue;
                }
                if (unindexed_array[i].name == 'ExtraUrl') {
                    data += 'ExtraUrl=' + encodeURIComponent(unindexed_array[i].value);
                      continue;
                }
                data += unindexed_array[i].name + '=' + unindexed_array[i].value;
            }


            console.log(document.querySelector('input'));
            var url = '@Url.Action("SaveInfoItem", "InfoAdmin", new {})';
            $.post(url, data, function (response) {@*выходные значение response передаем чтоб понимал для иф*@
                if (typeof response !== "undefined") {

                    if (response.State == 0) {
                        document.location.href = '@Url.Action("InfoItemAdminPanel", "InfoAdmin")';
                    }
                    else {
                        alert(response.Message);
                    }
                }
                else {
                    alert("error");
                }
            })
            .fail(function () { alert("error"); });
        },

        rules: {
            Title: "required",
            Description: "required",
            SubTitle: "required",
            CategoryIds: "required",
            DatePublication : "required",

        },
        messages: {
            Title: { required: "Введите название проекта" },
            Description: { required: "Введите информацию" },
            SubTitle: { required: "Введите подзаголовок" },
            CategoryIds: { required: "Выберите категорию" },
            DatePublication: { required: "Поставьте время публикации" },
        }
    });

</script>



