﻿.dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d !important;
}

.dropdown-item {
    cursor: pointer;
}

.edit-title-input {
    font-size: 1em !important;
    width: 80%;
    margin-bottom: 5px;
    display: inline !important;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

thead input {
    width: 35px;
    font-size: small !important;
}

.labelspan {
    border-radius: 8px;
    font-size: 15px;
    display: block;
    white-space: pre-wrap;
    color: white;
}

.dt-button {
    margin-bottom: 0 !important;
    padding: 1px 6px !important;
}


#dropdown-menu-thead {
    position: fixed !important;
    top: auto !important;
    left: auto !important;
}

table.dataTable thead th {
    position: relative;
    padding: 8px;
}

.btn-group {
    float: right;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-image: -ms-linear-gradient(top, #212529 0%, #161F3B 100%);
    background-image: -moz-linear-gradient(top, #212529 0%, #161F3B 100%);
    background-image: -o-linear-gradient(top, #212529 0%, #161F3B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #212529), color-stop(1, #161F3B));
    background-image: -webkit-linear-gradient(top, #212529 0%, #161F3B 100%);
    background-image: linear-gradient(to bottom, #212529 0%, #161F3B 100%);
    color: #f8f9fa !important;
}


#table_id > thead > tr > th > div > div > ul {
    display: none !important;
}

#circle {
    width: 25px;
    height: 25px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    text-align: center;
    font-weight: bold;
    float: left;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom: 25px solid #ffc107;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    margin-left: 78px;
}

#head:nth-child(2) {
    display: none !important;
}

.dataTables_length > label {
    padding-right: 15px;
}



.dataTables_info {
    padding-top: 0 !important;
    display: contents;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}

#table_id thead th div div button {
    display: none;
}

@@media screen and (min-width: 1070px) {
    .modal-dialog {
        margin: 1.75rem auto !important;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .25rem .5rem !important;
}

.dataTables_paginate {
    padding-top: 9px !important;
}

.st1 {
    min-width: 130px;
    float: left;
    margin: 10px;
    margin-left: 0px;
}

.st2 {
    float: left;
    padding-top: 13px;
    min-width: 195px;
}

.st3 {
    float: left;
    padding-top: 13px;
    min-width: 250px;
}

