﻿body {
    /*background-image: url('../../images/learn_pattern_5.png');*/
}
h1 { font-size: 34px; }
.container {background-color:transparent;  }
.btn { border: none; }
.btn-primary { background-color: #007ac2;}
.btn-primary:hover { background-color: #404040;}
.btn-warning { background-color: #007ac2;}
.btn-warning:hover { background-color: #404040;}

.rt-table td { vertical-align: middle !important; }
.rt-table th { background-color: #ebe6e4; color:black; text-align: center; vertical-align: middle !important;  }
.rt-table-col-id { width: 70px; text-align: center !important; }
.rt-table-col-actions { width: 125px; }
.rt-table-col-date{ width: 100px;}
.rt-table-col-number{text-align: center}

.rt-button-row { margin-bottom: 15px; text-align: right; }
.rt-button-actions { padding: 0px; }
.rt-button-actions li { padding: 10px 20px; cursor: pointer; }
.rt-button-actions li:hover, .rt-button-actions li:hover * { background-color: #007ac2; color: white; }
.rt-button-actions ul { margin:0px; padding: 0px; }
.rt-button-actions li form { margin: 0px; }
.rt-button-actions li a { margin: 0px; padding:0px; }
.rt-button-actions li a:hover { background-color: inherit; }

.rt-button-icon { cursor: pointer; color: #fc8505; font-size: 18px; }

.rt-button-create { margin-bottom: 15px;}

.rt-form form { margin-bottom: 20px; }
.rt-form-label {  }
.rt-form-control { margin-top: 12px; }

.rt-header-top-row { background-color: #FDF4EA; padding-top: 5px; padding-bottom: 5px; }
.rt-header-support { }
.rt-header-phone { color: #007ac2 !important; }
.rt-header-mail, .rt-header-mail:hover { color: #007ac2; }
.rt-header-user { text-align: right; text-align: right; margin-right: 20px;  margin-top: 15px; }
.rt-header-user a { color: white; text-decoration: underline; }
.rt-header-user a:hover { text-decoration: none; }
.rt-header-user-title {color:white}
.rt-navbar-custom-menu {}



@media screen and (max-width: 980px) {
    .rt-header-system-title { font-size: 18px; }
    .rt-header-user { text-align: left; }
}

@media screen and (max-width: 700px) {
    .rt-header-system-title { font-size: 14px; }
}

@media screen and (max-width: 550px) {
    .rt-header-system-title { line-height:26px; }
}

@media screen and (max-width: 480px) {
    .rt-header-system-title { font-size: 12px; line-height:20px; top: 10px; }
}

.rt-header-system-description{
    position: absolute;
    left: 230px;
    top: 55px;
    width: 50%;
}
    



.rt-page-path-row { border-bottom:1px solid #ccc; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px; }
.rt-page-path { text-align: left; line-height:30px; }
.rt-page-path a { color: #007ac2; text-decoration: none; }
.rt-page-path a:hover { text-decoration: underline; }

.rt-page-title-row, .rt-form-title-row { margin-top: 20px; margin-bottom: 10px; margin-bottom: 0px; }
.rt-page-title, .rt-form-title { margin: 0px; }
.rt-page-title h1, .rt-form-title h1 { margin: 0px; padding: 0px; color: black; }
.rt-form-title .rt-form-control { margin-top: 0px; }

.rt-footer-row { height:110px; background-color: black; position: relative; }
.rt-footer-logo { position: absolute; left: 60px; top: 15px; height: 80px; }
.rt-footer-links { position: absolute; left: 190px; top: 25px; }
.rt-footer-links a { color: white; margin-right: 20px; text-decoration: underline; }
.rt-footer-copyright { position: absolute; left: 190px; top: 60px; color: #9d9d9d; }
.rt-footer-copyright a { color: white; margin-right: 20px; text-decoration: none; font-weight: bold; }
.rt-footer-copyright a:hover { text-decoration: underline; }

.rt-course-tree-item { padding: 5px; padding-right: 10px; position: relative; }
.rt-course-tree-item:hover { background-color: #eee; }
.rt-course-tree-item:hover .rt-tree-button-right { display: inline; }
.rt-course-tree-item a { color: #fc8505; text-decoration: underline; }
.rt-course-tree-item a:hover { color: #fc8505; text-decoration: none; }

.rt-course-tree-course {}
.rt-course-tree-part { padding-left: 20px; margin-top: 5px; }
.rt-course-tree-module { padding-left: 40px; margin-top: 5px; }
.rt-tree-button-right { display: none; position: absolute; right: 10px; top: 6px; }

.rt-forum-category { color: #9b2d30;}
a.rt-forum-topic { color: #fc8505; text-decoration: underline; }
a.rt-forum-topic:hover { color: #fc8505; text-decoration: none; }

.rt-course-link { margin-top: 5px; }

.rt-header-library{color: #007ac2; margin: 0px; padding: 0px; font-size:26px;}
.rt-header-annotation{font-size:18px}
.rt-header-library{color: #007ac2; margin: 0px; padding: 0px; }

.rt-head-fixed tr th {}

.rt-tree-item_selected {
    background-color: #eee;
    display:inline
}

input[type="text"] {
    font-size:1.3em;
}

.t2-nav-top, .nav { }
.t2-nav-top { background-color: #333;   }
/*.t2-nav-top a { color: black !important; }*/
/*.t2-nav-top .navbar-brand, .navbar { height: 30px; }
.nav li a { padding-top: 8px; padding-bottom: 8px; }*/

.t2-header-row { height: 120px; position: relative; overflow: hidden; margin-top: -20px; }
.t2-header-system-logo img { left: 00px; top: 30px; height: 70px;margin-top: 15px; display: block; }
.t2-header-system-title { position: absolute; left: 140px; top: 8px; color:#F26522; font-size:38px; }
.t2-header-system-description { font-size: 16px; position: absolute; left: 145px; top: 75px; letter-spacing: 3px; }

.t2-nav-row { background-color: #007ac2; padding-top: 5px; padding-bottom: 5px; }
/*.t2-nav-row .row { margin-top: 10px; margin-bottom: 10px; }*/
a.rt-nav-level1, .rt-nav-level1 {  margin-top: 10px; margin-bottom: 10px; white-space:nowrap; color: white !important; cursor: pointer; font-weight: bold; margin-right: 15px; }
a.rt-nav-level1:hover { color: black;  }
.rt-nav-level2 a:hover { background-color: #007ac2 !important; }
.geo-index {
    background-image: url('Images/main-bg2.jpg');
    background-repeat:no-repeat;background-size:cover
}    

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color:#007ac2;
    border-color: #da5800;
}

h3 { color:#007ac2;}
