﻿@*@using RiskProf.Info.API.Domain.InfoItemPages*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        <div>
            <h1>Тестовая страница RiskProf.Info.API</h1>
        </div>

        <div>
            @using (Html.BeginForm("GetInfoItem", "InfoItemAPI", FormMethod.Post))
            {
                @Html.Label("Введите ID инфоблока");
                @Html.TextBox("id", "");
                <input type="submit" value="Отправить" />
            }
        </div>

        <div>
            @using (Html.BeginForm("GetCategories", "InfoItemAPI", FormMethod.Post))
            {
                @Html.Label("Выберите pageGuid");

            var items = new SelectList(new List<Guid>() { RiskProf.Info.Domain.InfoItemPages.Guide,
                                                          RiskProf.Info.Domain.InfoItemPages.Features,
                                                          RiskProf.Info.Domain.InfoItemPages.Partners,
                                                          RiskProf.Info.Domain.InfoItemPages.Updates});
                @Html.DropDownList("pageGuid", items);
                <input type="submit" value="Отправить" />
            }
        </div>
    </div>
</body>
</html>
