﻿#table_id_filter input[type=search] {
    position: absolute;
    right: 0px;
    top: 44px;
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

    #table_id_filter input[type=search]:hover {
        background-color: #fff;
    }

    #table_id_filter input[type=search]:focus {
        width: 200px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;
    }

input[type=search] {
    background: #f9f9f9 no-repeat 9px center;
    background-image: url('../img/icons/magnifier.svg');
    background-size: 18px;
    border: solid 1px #f9f9f9;
    padding: 1px 10px 1px 2px;
    width: 55px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input {
    outline: none;
}

    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }

        input[type=search]:focus {
            width: 130px;
            border-color: #216dff;
            background-color: #fff;
            -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
            -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
            box-shadow: 0 0 5px rgba(109,207,246,.5);
        }

#table_id_filter {
    position: relative;
}
